	body {
		background-color: #C2ECFC;

		ul { 
list-style-type: none;
}

h1 {
	font-family: "Ancizar Serif"
}

img{
	border-color:#000000;
	border-width:2px;
	border-style:solid;
	border-radius:5%;

}
a {
	color:#F25AA3;
}

a:visisted {
	color: #0C4C61;
}

a:hover {
	color: black;
}
a {
	text-decoration:none;
}

	}
